
body{
  background-color: #BDD4DE;
  width: 95%;
  margin: 5 auto;
  margin-top: 150px;
  font-family: 'Vidaloka', serif;
  font-size: 28px;

}

fieldset {
  width: 300px;
  float: left;
  border: 3px solid #efefef;
  margin: auto;
  margin-right: 10px;

}

audio {
  margin: auto;
}

fieldset legend {
  color: #FF530D;;
}

fieldset label {
  color: #223242 ;
}

fieldset input{
  color: #233242;
  border: 2px solid #efefef;
  background-color: #efefef;
  border-radius: 25px;
}
#addstore {
color: ;
background-color: #efefef;
border-radius:25px;
float: right;
}

 td , th{
   border: 1px solid #3F5765;
   color: 223242 ;
   text-align: center;
   font-size: 28px;
}

table {
  border: 3px solid #efefef;
  margin: auto;
}

table caption {
  color: #FF530D;
}

#estimations{
  overflow: auto;
  border: 2px solid #3f5765;
  padding: 10px;
  margin-left: 250px;
  width: 75%;
}

#toppot{
  height: 200px;
  width: 200x;
float: left;
}

#around_picture{
  position: relative;
  left: 2%;
  width: 80%;
  z-index: 1;
}

h1, h2, h3{
font-family: 'Quicksand', sans-serif;
}

h2, h3{
  color:#FF530D;
}

footer {
  text-align: center;
  color: #223242;
  border-radius: 50%;
  border: 1px solid #efefef;
  width: 25em;

  padding: 5px;
  position: absolute;
 left: 35%;
  margin-bottom: 100px;
  margin-top: 25px;
  color: #FF530D;
}

nav a {
  text-decoration: none;
  color: 223242;
}

header {
  border: 2px solid #efefef;
  text-align: center;
  color: #223242;
  position: fixed;
  margin-top: 0;
  background-color: #BDD4DE;
  margin-bottom: 100px ;
  margin-top: -140px;
  width: 100%;
  z-index: 10;
}

p {
  color: #223242;
}
